<div 
    ng-controller="TableController as vm"
    ng-init="vm.getObjects()"
    >
    <table class="table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>name</td>
                <td>created on</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.Objects">
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.dateCreated }}
                </td>
            </tr>
        </tbody>
    </table>
    <form 
        name="myForm"
        ng-submit="vm.uploadImage()" >
        <input 
            type="text"
            ng-model="vm.formData.tags">
        <input 
            type="file" 
            ng-model="vm.formData.file"
            onchange="angular.element(this).scope().fileSelected(this)"
        >
        <button type="submit" class="btn btn-large btn-primary">Upload your shit dawg</button>
    </form>
</div>