<div
    ng-controller="ItemController as vm"
    ng-init="vm.onInit()"
    class="container">
    <br>
    <div class="uploadFormCard">
        <h1>Upload a file</h1>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <form 
                    name="myForm"
                    ng-submit="vm.uploadImage()" >
                    <input 
                        type="text"
                        class="col-xs-12 uploadFileTags"
                        ng-model="vm.formData.tags"
                        placeholder="Enter Tags Here">
                    <p>Seperate individual tags with a comma </p>
                    <h2>Select file to upload</h2>
                    <input 
                        type="file" 
                        ng-model="vm.formData.file"
                        onchange="angular.element(this).scope().fileSelected(this)">
                    <br>
                    <button type="submit" class="btn btn-lg downloadButton">Upload</button>
                </form>
            </div>
            <h3 class="col-md-2">Preview:</h3>
            <div class="col-xs-12 col-md-4">
                <img id="fileSelectedPreview" alt="no previewable file selected">
            </div>
        </div>
        
    </div>
    
    
</div>