.navbar-white .navbar-nav>.active>a {
    color: #484848;
    background-color: white;
}
.navbar-white .navbar-nav > .active > a:hover,
.navbar-white .navbar-nav > .active > a:focus {
  color: #F85E70;
  background-color: white;
}
.navbar-nav>li>a {
    background-color: white !important;
}
.navbar-brand {
    padding: 0;
    padding-left: 10px;
}
.navbar-white {
    background-color: white;
    border-radius: 0px;
}
.navbar-white .navbar-nav> li > a {
    color: #484848
}
.navbar-white .navbar-nav> li > a:hover {
    background-color: white;
    color: #F85E70
}
.barksyLogoLink:hover {
    text-decoration: none;
}
.barksyLogoName {
    color: #333;
    font-family: 'Copse', sans-serif;
    height:50px;
    font-size: 2.5em;
    text-decoration: none;
}
.barksyLogoLink {
    text-decoration: none !important;
}
.icon-bar {
    background-color: #333;
}
.filterTableInput {
    height: 50px;
    font-size: 2em;
    background-color: white;
    border: 0;
    border-radius: 7px;
    padding-left: 10px;
}
.table {
    background-color: white;
    border-radius: 5px;
}
.table-hover > tbody > tr:hover {
    background-color: rgb(221, 221, 221);
}
.table > thead > tr > th {
    border-bottom-color: #FDAAB4;
}
body {
    color: #484848;
    background-color: #71DCCA;
}
.uploadFormCard {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 8px #888888
}
.uploadFormCard > h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.uploadFileTags {
    height: 50px;
    font-size: 2em;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #888888;
}
.cardTitle {
    font-size: 2em;
}
.singleItemCard {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 8px #888888
}
.downloadButton {
    background-color: #71DCCA;
    color: white;
}
.singleImagePreview {
    margin-left: -80px;
    max-width: 300px;
}