.navbar-white .navbar-nav>.active>a {
    color: #484848;
    background-color: white;
}
.navbar-white .navbar-nav > .active > a:hover,
.navbar-white .navbar-nav > .active > a:focus {
  color: #F85E70;
  background-color: white;
}

.navbar-brand {
    padding: 0;
    padding-left: 10px;
}
.navbar-white {
    background-color: white;
    border-radius: 0px;
}
.navbar-white .navbar-nav> li > a {
    color: #484848
}
.navbar-white .navbar-nav> li > a:hover {
    background-color: white;
    color: #F85E70
}
.barksyLogoLink:hover {
    text-decoration: none;
}
.barksyLogoName {
    color: #333;
    font-family: 'Copse', sans-serif;
    height:50px;
    font-size: 2.5em;
}
.icon-bar {
    background-color: #333;
}
.filterTableInput {
    height: 50px;
    font-size: 2em;
    background-color: white;
    border: 0;
    border-radius: 7px;
    padding-left: 10px;
}
.table {
    background-color: white;
    border-radius: 5px;
}
.table-hover > tbody > tr:hover {
    background-color: #FDAAB4;
}
.table > thead > tr > th {
    border-bottom-color: #FDAAB4;
}
body {
    color: #484848
    font-family: 'Rubik'
}